
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<section class="ftco-section">
	<div class="container">
		<div>
			<div class="img mb-4" style="background-image: url(images/MyPhoto.jpg);"></div>
			<div class="hero-wrap js-fullheight" style="background-image: url(images/MyPhoto.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="js-fullheight d-flex justify-content-center align-items-center">
					<div class="col-md-8 text text-center">
						<div class="desc">
							<h2 class="subheading">Hello I'm</h2>
							<h1 class="mb-4">Adel Mohamed</h1>
							<p class="mb-4">I am a student at the Faculty of Science, in the fourth year, Department of Mathematics and Computer Science. I specialize in the field of software and work as a back-end programmer for websites.</p>
							<ul class="ftco-social mt-3">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	





