@model BlogPostVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<style>
    textarea {
        width: 100%;
        max-width: 700px;
        height: 200px;
        padding: 10px;
        border: 2px solid #4CAF50;
        border-radius: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f9f9f9;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        resize: none;
    }

        textarea:focus {
            border-color: #2ECC71;
            outline: none;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        }

        textarea::placeholder {
            color: #999;
            font-style: italic;
        }

    input {
        padding: 10px;
        border: 2px solid #4CAF50;
        border-radius: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f9f9f9;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        resize: none;
    }

        input:focus {
            border-color: #2ECC71;
            outline: none;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        }

        input::placeholder {
            color: #999;
            font-style: italic;
        }
</style>

<section class="ftco-section">
    <div class="container">
        <div>
            <h1><a href="index.html">DELET BLOG<span>.</span></a></h1>
            <br />
            <br />
            <form asp-controller="BlogPost" asp-action="Delete" class="form-group">
                <br />
                <input asp-for="Id" type="hidden" class="form-control" />
                <label asp-for="Title">Title</label>
                <br />
                <input type="text" asp-for="Title" placeholder="Enter Title Max 100 Character" class="form-control" readonly />
                <br />
                <label asp-for="Content">Content</label>
                <br />
                <textarea asp-for="Content" placeholder="Enter blog Content" readonly></textarea>
                <br />
                <br />
                <label asp-for="AutherName">Auther Name</label>
                <br />
                <input type="text" asp-for="AutherName" placeholder="Enter Auther Name Max 50 Character " class="form-control" readonly />
                <br />
                <center>
                    <input type="submit" value="Delete" class="btn btn-success" />
                    <a asp-controller="BlogPost" asp-action="GetData" class="btn btn-danger">Cancel</a>
                </center>
            </form>
        </div>
    </div>
</section>